const uint8_t DOWN_COMMAND_KEY[32+1] = "kie4jief4eisianguu7noog5Ut2Mief5";
const uint8_t UP_COMMAND_KEY[32+1] = "soh5hu5theiRaw5ZiechohthaiNg9wah";
#define MATTERMORE_SERVER_HOST "mattermore.zeus.gent"
#define MATTERMORE_SERVER_PORT 80